.popup__input {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 358px;
  width: 100%;
  padding: 0 0 10px;
}

.popup__input:nth-child(1) {
  margin-bottom: 30px;
}
