.elements {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 1120px) {
  .elements {
  max-width: 600px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-top: 51px;
  row-gap: 15px;
  column-gap: 12px;
  }
}

@media screen and (max-width: 610px) {
  .elements {
    grid-template-columns: 1fr;
    max-width: 282px;
    margin-top: 36px;
    align-items: center;
    gap: 20px;
  }
}


