.elements__button {
  background-image: url(../../../images/button_like.svg);
  width: 100%;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
