.popup__title {
  font-family: inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  margin-bottom: 54px;
}

@media screen and (max-width:610px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
